<!DOCTYPE html>
<html lang="es-AR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Club San Martin" />
<meta name="Jimena Carracedo" content="Club San Martin" />
<script src="https://kit.fontawesome.com/cabb834c97.js" crossorigin="anonymous"></script>
<title>Club San Martin</title>
<!-- Core theme CSS (includes Bootstrap)-->      

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
<link href="/styles/styles.css" rel="stylesheet"  />
<!-- SimpleLightbox plugin CSS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>
<body id="page-top">
	<!-- Navigation-->
	  <nav class="nav-pame" style="position: fixed">
      <div class="logo">
        <img src="/assets/img/favicon.jpg" alt="logo-sanma">
      </div>
      <div class="menu-nav-pame">
        <ul class="menu-horizontal-pame">
          <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
          <li><a href="#">Nosotros</a></li>
          <li>
            <a href="#">Actividades</a>
            <ul class="menu-vertical-pame">
              <li><a href="talleres">Talleres</a></li>
              <li><a href="#">Eventos</a></li>
            </ul>
          </li>
          <li><a href="#">Contacto</a></li>
          <li><a href="socio/login"><i class="fa-solid fa-user"></i></a></li>
        </ul>
      </div>
    </nav>
    
		 
      <p class="p-eventos">Bienvenido a la sección de eventos culturales y deportivos donde podrás encontrar actividades que buscan fomentar la cultura y el deporte en nuestra sociedad. Creemos firmemente en la importancia de estas dos áreas para el bienestar físico, emocional y social de las personas, y es por eso que nos esforzamos por promover eventos que contribuyan a su desarrollo y difusión. Explora nuestra página y descubre todo lo que tenemos para ofrecerte.</p>
    
    <section> 
        <img src="/assets/img/carnaval.jpg" alt="foto-carnaval">  
        <img src="/assets/img/copa6.jpg" alt="foto-copa">
       
        <img src="/assets/img/milonga.jpg" alt="foto-milonga">

        <img src="/assets/img/suena3.jpg" alt="sanmartin suena">
        
    </section>
       
    <div class="contenedor">
		<div class="card" id="carnaval">
			<img src="https://scontent.fros9-1.fna.fbcdn.net/v/t39.30808-6/333083539_954107365746087_8314961021615696373_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGoSE5yOSuKOR2erPAIkUekTpxI-Ktpw9tOnEj4q2nD21mXwIrWfi0_bzV8loHFKXZw-gXyPi2Pe07ddW4W75A_&_nc_ohc=Fb9_NbRvBEoAX_57Hyw&_nc_ht=scontent.fros9-1.fna&oh=00_AfCnbwURiuo3RZDA8CP2xwzG4-J5OCcTDYe56oXNImAjLg&oe=64618D37" class="card-img-top" alt="carnaval">
			<div class="card-body">
			  <h5 class="card-title">Carnaval</h5>
			</div>
			<p class="card-description">El imponente e impactante carnaval que celebramos en nuestro querido Club Gral. San Martín, organizado junto a Casa Cultural Lucero del Paraná, Jaraná Paraná y Murga La Cotolengo. 👏🏼
Cientos de personas se acercaron a disfrutar también de Homero y sus Alegres, con la conducción del maestro Orestes Muñante. 🙌🏼
🔥 También hubo disfraces, ferias, juegos y sorteos. 
Una vez más pudimos ver y palpar los resultados enormes que se obtienen cuando se trabaja en conjunto y de manera organizada. 
Agradecemos a todos y a todas por compartir el festejo popular en nuestro barrio! 💙🤍</p>
		</div>   
	  
	
		  <div class="card">
			<img src="https://scontent.fros9-1.fna.fbcdn.net/v/t39.30808-6/310194996_199145742492921_3793902822567789056_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEtTPzuLyQtID0fd8xXK3KJ1skmHP4VB3jWySYc_hUHeNbvur3K5RRKu7-4rEdY6dOsvDjdFNqqOyQgeNHnePlG&_nc_ohc=_zO0IN4jyRgAX_EDfpu&_nc_ht=scontent.fros9-1.fna&oh=00_AfB7F3Eu15WtjknKhNAI2oC13Qwbj_Ghqk63uuH5ayJFtQ&oe=6460F0F4" class="card-img-top" alt="san martin copa">
			<div class="card-body">
			  <h5 class="card-title">San Martin Copa</h5>
			</div>
			<p class="card-description">SAN MARTÍN COPA 2022, encuentro polideportivo comunitario que comenzó el 18/09 y finalizó el 8/10. 
Un mes entero de organización con la mirada y la voz puestas en los ejes DEPORTE, CULTURA Y COMUNIDAD. 
Alrededor de 15 instituciones se sumaron a la propuesta y enviaron equipos de Futsal Masculino y Femenino (jueveniles e infantiles) , Handball, Voley (categoria Maxi), Tae Kwon Do (juveniles e infantiles) y Bochas (primera división).💪🏼
En total, sumando todos los deportes, se jugaron alrededor de 100 partidos, y contamos con la participación de más de 300 deportistas.🏃‍♀️
La lógica impresa en la organización del SAN MARTÍN COPA es la que el Club General San Martín imprime en cada acto institucional: la de la comunidad organizada, la del lazo con el otro, que es un compañero o una compañera. En cada partido y en cada conversación se hizo hincapié en que la competencia es secundaria, en que ganarle al otro es secundario. 
El encuentro finalizó con una ceremonia de cierre, con entrega de premios y medallas/llaveros para todos los participantes.  En ella, tuvimos el lujo de escuchar a @doctor.chinaski y a @kurtlutman , quienes nos propusieron seguir reflexionando sobre ¿Contra quién Jugamos? y sobre la lógica que queremos en nuestro deporte y nuestra cultura.🏆
El verdadero rival es el que nos disgrega, el que nos aísla, el que nos hace competir a muerte entre nosotros, entre los que estamos en la misma. Es el que pone a nuestro pibes y a nuestra gente por la senda de la malaria y la violencia. 🙌🏼
Agradecemos a todas las organizaciones participantes, que van por este camino largo , por esta escuela de comunidad. 💙🤍</p>
		</div> 
		<div class="card">
			<img src="https://scontent.fros9-2.fna.fbcdn.net/v/t39.30808-6/316259888_578143584300540_1808845624264267144_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEFZJn-OggoDowR57Wk0Hr8auSgnbSv7tJq5KCdtK_u0pPCvck9hobErGRVEYsh7uDaEQhEadPbm30N1f8H1mub&_nc_ohc=GEHEHLP6cu0AX9lVLOh&_nc_ht=scontent.fros9-2.fna&oh=00_AfDOrFP_4NZJh7qezFmBrj1OWTM5AXQSbxypvPHEkMvQrg&oe=6460B867" class="card-img-top" alt="San Martin Suena">
			<div class="card-body">
			  <h5 class="card-title">San Martin Suena</h5>
			</div>
			<p class="card-description">Queremos agradecer especialmente a:
Ani Bookx - Chales Wilson - Budajipis - Ayelén Beker - Ministerio de Cultura de la Nación - Club Banco Nación - Nico Gaviraghi - San Martín Piano Bar. 👏🏻👏🏻🙌🏼
Y por sobre todas las cosas,  a la querida comunidad sanmartiniana que laburó en múltiples funciones para que todo salga bien. 💙🤍</p>
		</div>
		
	<div class="card">
			<img src="https://scontent.fros9-2.fna.fbcdn.net/v/t39.30808-6/345317758_559976529592165_1302373879680258447_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFK8IjM9J9xde0itgl_IkYtB8M553zXfkUHwznnfNd-RZ0XNEKHmPGFlrzxr2_x2UIBMZmYrQ5W3GS6rsY1xmz-&_nc_ohc=g5whhjUbz4oAX-ApWy-&_nc_ht=scontent.fros9-2.fna&oh=00_AfBCpds_8kAkn3evhlwI4h-ioEQpqy28FnsAlja1DeVLHw&oe=6461413C" class="card-img-top" alt="Milonga la Novata">
			<div class="card-body">
			  <h5 class="card-title">Milonga La Novata</h5>
			</div>
			<p class="card-description">Hermosa milonga organizada en conjunto con milonga la novata. 
Agradecemos a las profes que dieron las clases de baile para principiantes, a Orquesta del Guastavino, a Orquesta Mur y Vicky Alancay que nos deleitaron con su música. 
Agradecemos también a todos y a todas por acercarse y participar de esta fiesta popular en el barrio. 
Gracias nuevamente a miloga la novata y toda su banda, por su militancia social y comunitaria, por arrimarse nuevamente a bailar tango junto a nuestro querido club 💙🤍</p>
		</div>
    </div>
    
    
		
		<!-- Footer-->
	<footer>
      <div class="container-up">
        <div class="footer-block">
          <h3>contacto</h3>
          <div class="liner"></div>
          <ul class="datos-contacto">
            <li>
              <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span class="block-text">Valentín Gómez 3765, Rosario, Santa Fe</span>
            </li>
            <li>
              <span class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
              <span class="block-text">341 000 0000</span>
            </li>
            <li>
              <span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
              <span class="block-text">Lunes-Domingo 17:00-12:00 hrs</span>
            </li>
          </ul>
          
        </div>
        <div class="footer-block">
          <h3 class="hashtag">#soselclub</h3>
        </div>
        <div class="footer-block">
            <h3>síguenos</h3>
          <div class="liner"></div>
          <ul class="redes">
          <li>
           <span class="icon"><i class="fa-brands fa-facebook-f"></i></span>
           <span class="block-text"><a class="link" href="https://www.facebook.com/profile.php?id=100063147117030">Club Social y Deportivo San Martín</a></span>
            </li>
            
          <li>
           <span class="icon"><i class="fa-brands fa-instagram"></i></span>
           <span class="block-text"><a class="link" href="https://instagram.com/voley_clubsanmartin?igshid=YmMyMTA2M2Y=">clubsanmartinrosario</a></span>
            </li>
            
          <li>
           <span class="icon"><i class="fa-brands fa-instagram"></i></span>
           <span class="block-text"><a class="link" href="https://instagram.com/voley_clubsanmartin?igshid=YmMyMTA2M2Y=">voley_clubsanmartin</a></span>
            </li>
            
          <li>
           <span class="icon"><i class="fa-brands fa-instagram"></i></span>
           <span class="block-text"><a class="link" href="https://instagram.com/futsalsanma?igshid=NTc4MTIwNjQ2YQ==">futsalsanma</a></span>
            </li>
           </ul>
        </div>
      </div>
      
      
      <div class="container-down">
        <div class="derechos">
        <small>&copy; 2023 <b>Club San Martin Programa</b> - Todos los Derechos Reservados</small>
      
    </div>
   </div>
    </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
