<!DOCTYPE html>
<html lang="es-AR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Club San Martin" />
<meta name="Jimena Carracedo" content="Club San Martin" />
<script src="https://kit.fontawesome.com/cabb834c97.js" crossorigin="anonymous"></script>
<title>Club San Martin</title>


<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link href="/styles/styles.css" rel="stylesheet"  />
</head>
<body id="page-top">
	<!-- Navigation-->
	  <nav style="position: fixed">
      <div class="logo">
        <img src="/assets/img/favicon.jpg" alt="logo-sanma">
      </div>
      <div class="menu-nav">
        <ul class="menu-horizontal">
          <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
          <li><a href="#">Nosotros</a></li>
          <li>
            <a href="#">Actividades</a>
            <ul class="menu-vertical">
              <li><a href="socio/talleres">Talleres</a></li>
              <li><a href="#">Eventos</a></li>
            </ul>
          </li>
          <li><a href="#">Contacto</a></li>
          <li><a href="socio/login"><i class="fa-solid fa-user"></i></a></li>
        </ul>
      </div>
    </nav>
	<!-- Masthead-->
	<header class="masthead">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-dark font-weight-bold">Club Social y Deportivo General San Martín</h1>
					<img src="./assets/img/favicon-modified.png"/>
					<p class="texto">Los clubes y las organizaciones de barrio (vecinales, bibliotecas, etc) nacieron para el encuentro entre vecinos, para resolver problemas sociales comunes, para la práctica recreativa de deportes y para disfrutar de la cultura popular en festejos. El San Martín, al igual que muchos clubes de barrio fundados entre 1900 y 1950, sufrió decadencia y abandono luego de las trágicas épocas de los ´70 y de los ´90. Pocas actividades lograron mantenerse en pie resistiendo. El club estuvo muchos años con la personería jurídica caída. Es decir, estuvo sin DNI, con todo lo que eso implica en la vida de una persona. 
                        A partir del año 2012, a fuerza de reuniones, asambleas y gestiones entre vecinos y vecinas agrupados en juventud y familia, se recuperaron los archivos del club, se llamó a la Provincia a intervenir y se formó, luego de varios años, una nueva Comisión Directiva con “los papeles al día”.
                        </p>
                    <hr class="divider" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 mb-5"></p>
					<a class="btn btn-primary btn-xl" href="#about">Conozca más</a>
				</div>
			</div>
		</div>
	</header>
	<!-- About-->
	<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="text-dark font-weight-bold">SOS EL CLUB!</h2>
					<p class="texto">El Club es de sus socios, es del barrio, y no un negocio para oportunistas. 
                        La Comisión Directiva está obligada a fomentar la participación y la asociación permanentemente, a mantener un precio de cuota accesible, a mostrar el balance y los arqueos de caja cada vez que se le requiera y, en general, a rendir cuentas a los asociados por toda su gestión, en el marco de la nueva vida institucional reglamentada.
                        </p>
                    <hr class="divider divider-light" />
					<p class="text-white-75 mb-4"></p>
					<a class="btn btn-light btn-xl" href="#portfolio">Comencemos!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Services-->
	
	<!-- Portfolio-->
	<div id="portfolio">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="./assets/img/comisiondirectiva.jpg" width=1080px height=1080px title="Comision Directiva">
						<img class="img-fluid" src="./assets/img/comisiondirectiva.jpg" width=1080px height=1080px alt="Comision Directiva" />
						<div class="portfolio-box-caption">
							<div class="project-category text-dark-50">Comision Directiva</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="./assets/img/torneos.jpg" width=1080px height=1080px title="Torneos">
						<img class="img-fluid" src="./assets/img/torneos.jpg" width=1080px height=1080px alt="Torneos" />
						<div class="portfolio-box-caption">
							<div class="project-category text-dark-50">Torneos</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="./assets/img/eventos.jpg"  width=1080px height=1080px title="Eventos">
						<img class="img-fluid" src="./assets/img/eventos.jpg" width=1080px height=1080px alt="Eventos"/>
						<div class="portfolio-box-caption">
							<div class="project-category text-dark-50">Eventos</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="talleres.html" width=1080px height=1080px title="Talleres">
						<img class="img-fluid" src="./assets/img/talleres.jpg" width=1080px height=1080px alt="Talleres" />
						<div class="portfolio-box-caption">
							<div class="project-category text-dark-50">Talleres</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="./assets/img/socios.jpg" width=1080px height=1080px title="Socios">
						<img class="img-fluid" src="./assets/img/socios.jpg" width=1080px height=1080px alt="Socios" />
						<div class="portfolio-box-caption">
							<div class="project-category text-dark-50">Socios</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				
				</div>
			</div>
		</div>
	</div>
	<!-- Call to action-->
	
	<!-- Contact-->
	
	<!-- Footer-->
	<footer>
      <div class="container-up">
        <div class="footer-block">
          <h3>contacto</h3>
          <div class="liner"></div>
          <ul class="datos-contacto">
            <li>
              <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span class="block-text">Valentín Gómez 3765, Rosario, Santa Fe</span>
            </li>
            <li>
              <span class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
              <span class="block-text">341 000 0000</span>
            </li>
            <li>
              <span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
              <span class="block-text">Lunes-Domingo 17:00-12:00 hrs</span>
            </li>
          </ul>
          
        </div>
        <div class="footer-block">
          <h3 class="hashtag">#soselclub</h3>
        </div>
        <div class="footer-block">
            <h3>síguenos</h3>
          <div class="liner"></div>
          <ul class="redes">
          <li>
           <span class="icon"><i class="fa-brands fa-facebook-f"></i></span>
           <span class="block-text"><a class="link" href="https://www.facebook.com/profile.php?id=100063147117030">Club Social y Deportivo San Martín</a></span>
            </li>
            
          <li>
           <span class="icon"><i class="fa-brands fa-instagram"></i></span>
           <span class="block-text"><a class="link" href="https://instagram.com/voley_clubsanmartin?igshid=YmMyMTA2M2Y=">clubsanmartinrosario</a></span>
            </li>
            
          <li>
           <span class="icon"><i class="fa-brands fa-instagram"></i></span>
           <span class="block-text"><a class="link" href="https://instagram.com/voley_clubsanmartin?igshid=YmMyMTA2M2Y=">voley_clubsanmartin</a></span>
            </li>
            
          <li>
           <span class="icon"><i class="fa-brands fa-instagram"></i></span>
           <span class="block-text"><a class="link" href="https://instagram.com/futsalsanma?igshid=NTc4MTIwNjQ2YQ==">futsalsanma</a></span>
            </li>
           </ul>
        </div>
      </div>
      
      
      <div class="container-down">
        <div class="derechos">
        <small>&copy; 2023 <b>Club San Martin Programa</b> - Todos los Derechos Reservados</small>
      
    </div>
   </div>
    </footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- SimpleLightbox plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>