<!DOCTYPE html>
<html lang="es-AR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Club San Martin" />
<meta name="Jimena Carracedo" content="Club San Martin" />
<title>Club San Martin</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/club/src/main/resources/static/assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />

<!-- SimpleLightbox plugin CSS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

</head>


<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="#page-top">Club Social y Deportivo San Martin</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto my-2 my-lg-0">
				<li class="nav-item"><a class="nav-link btn btn-outline btn-sm me-2" href="socio/login">
					Login 
					</a></li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Acerca</a>
					</li>
					
					
						
					<li class="nav-item">
						<a class="nav-link" href="#portfolio">Utilidades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contacto</a>
					</li>
					<!--<li class="nav-item"><a class="nav-link" href="/admin">Login</a></li>-->
					
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actividades
        </a>
        
          
          
          <a class="dropdown-item" href="#">Talleres</a>
       	  <a class="dropdown-item" href="#">Eventos</a>
          	
      </li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Masthead-->
	<header class="masthead">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold">Club Social y Deportivo San Martin</h1>
					<img src="/club/src/main/resources/static/assets/img/favicon-modified.png"/>
					<hr class="divider" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 mb-5"></p>
					<a class="btn btn-primary btn-xl" href="#about">Conozca más</a>
				</div>
			</div>
		</div>
	</header>
	<!-- About-->
	<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="text-white mt-0">SOS EL CLUB!</h2>
					<hr class="divider divider-light" />
					<p class="text-white-75 mb-4"></p>
					<a class="btn btn-light btn-xl" href="#portfolio">Comencemos!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Services-->
	
	<!-- Portfolio-->
	<div id="portfolio">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="/club/src/main/resources/static/assets/img/comisiondirectiva.jpg" width=1080px height=1080px title="Comision Directiva">
						<img class="img-fluid" src="/club/src/main/resources/static/assets/img/comisiondirectiva.jpg" width=1080px height=1080px alt="Comision Directiva" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Comision Directiva</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="/club/src/main/resources/static/assets/img/torneos.jpg" width=1080px height=1080px title="Torneos">
						<img class="img-fluid" src="/club/src/main/resources/static/assets/img/torneos.jpg" width=1080px height=1080px alt="Torneos" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Torneos</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="/club/src/main/resources/static/assets/img/eventos.jpg" width=1080px height=1080px title="Eventos">
						<img class="img-fluid" src="/club/src/main/resources/static/assets/img/eventos.jpg" width=1080px height=1080px alt="Eventos"/>
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Eventos</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="/club/src/main/resources/static/assets/img/talleres.jpg" width=1080px height=1080px title="Talleres">
						<img class="img-fluid" src="/club/src/main/resources/static/assets/img/talleres.jpg" width=1080px height=1080px alt="Talleres" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Talleres</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="/club/src/main/resources/static/assets/img/socios.jpg" width=1080px height=1080px title="Socios">
						<img class="img-fluid" src="/club/src/main/resources/static/assets/img/socios.jpg" width=1080px height=1080px alt="Socios" />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Socios</div>
							<div class="project-name">Club San Martin</div>
						</div>
					</a>
				</div>
				
				</div>
			</div>
		</div>
	</div>
	<!-- Call to action-->
	
	<!-- Contact-->
	
	<!-- Footer-->
	<footer class="bg-light py-5">
		<div class="container px-4 px-lg-5">
			<div class="small text-center text-muted">Copyleft © Jimena Carracedo - Club San Martin Programa 2022</div>
		</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- SimpleLightbox plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>